# {{ ansible_managed }}

log_format diplom '$remote_addr - $remote_user [$time_local] '
                  '"$request" $status $body_bytes_sent '
                  '"$http_referer" "$http_user_agent" '
                  '"$http_x_forwarded_for" rt=$request_time';

server {
    listen 80 default_server;
    server_name _;

    root {{ web_content_dir }};
    index index.html;

    access_log /var/log/nginx/access.log diplom;
    error_log  /var/log/nginx/error.log warn;

    location / {
        try_files $uri $uri/ =404;
    }

    # Health-check для Yandex ALB
    location = /healthz {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "ok\n";
    }
}
