# {{ ansible_managed }}
# Конфиг для prometheus-nginxlog-exporter.
# Слушает на :{{ nginxlog_exporter_port }}, парсит access.log nginx.

listen {
  port = {{ nginxlog_exporter_port }}
  address = "0.0.0.0"
}

namespace "nginx" {
  format = "$remote_addr - $remote_user [$time_local] \"$request\" $status $body_bytes_sent \"$http_referer\" \"$http_user_agent\" \"$http_x_forwarded_for\" rt=$request_time"

  source = {
    files = [
      "/var/log/nginx/access.log"
    ]
  }

  # Дополнительная метка с именем хоста — пригодится в Grafana
  labels {
    host = "{{ inventory_hostname }}"
  }
}
