# {{ ansible_managed }}
apiVersion: 1

providers:
  - name: 'default'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_dir }}
      foldersFromFilesStructure: false
